@charset "utf-8"

/***************** 
Document CSS

	[Sommaire]

1. Polices
2. Corps du site
3. En tête
	3.1. Bar d'en tête
	3.2. Logo
	3.3. Navigation
	3.4. Acceuil
4. Acceuil
5. Pied de page

******************/

/**********
1. Polices 
***********/

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@font-face
{
	font-family: 'Beyond';
	src: url('beyond_the_mountains.otf')  format('truetype'),
		 url('beyond_the_mountains.ttf')  format('opentype');
}

/***************
2. Corps du site 
***************/
*
{
	margin: 0;
	padding: 0;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Karla', sans-serif;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}

/****************
3. En tête 
****************/
.header 
{
	position: fixed;
	width: 100%;
	background: rgba(54, 19, 84, 0.6);
}
/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	height: 36px;
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
	transition: all 400ms ease;
}
.social
{
	display: inline-block;
	margin-right: 36px;
	line-height: 36px;
	font-size: 13px;
	font-weight: 600;
	color: #FFFFFF;
}
.social_list_item
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a
{
	display: block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
.social_list_item:hover a i
{
	color: #31124b;
}
.social_list_item a i
{
	font-size: 12px;
	color: #FFFFFF;
	transition: all 200ms ease;
}
.social_list_item a:hover
{
	color: #FFFFFF;
}
.user_box_link
{
	display: inline-block;
}
.user_box_link a
{
	display: inline-block;
	font-size: 13px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	text-shadow: 1px 1px purple;
}
.user_box_link a:hover
{
	color: #fa9e1c;
}
.user_box_login
{
	margin-right: 15px;
}

.user_box_login::after
{
	display: block;
	position: absolute;
	top: 15px;
	right: -9px;
	background: #FFFFFF;
	width: 1px;
	height: 9px;
	content: '';
}

/*********************************
3.2 Logo
*********************************/
.logo_container
{

}
.logo a
{
	font-family: 'Beyond', sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: 200;
	text-shadow: 1px 1px purple;
}
.logo a:hover
{
	color: #FFFFFF;	
}
.logo a img
{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;

}
/*****************
3.3. Navigation
*****************/
.main_nav
{
	background: linear-gradient(to right, #fa9e1b, #8d4fff);
}
.main_nav_container
{
	margin-right: 150px;
	margin-top: 20px;
}
.main_nav_item
{
	position: relative;
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	text-shadow: 1px 1px purple;
}
.main_nav_item a:hover
{
	color: #fa9e1c;
}
.main_nav_item::after
{
	display: block;
	position: absolute;
	top: 7px;
	right: -15px;
	background: #FFFFFF;
	width: 2px;
	height: 15px;
	content: '';	
}

/*********************************
3.4 Acceuil
*********************************/
.home
{
	width: 100%;
	height: 100vh;
}
.home_container
{
	position: relative;
	text-align: center;
}
.home_background_text h1
{
	vertical-align: middle;
	position: center;
	text-align: center;
	margin-top: 50px;
	color: #31124b;
}
.home_background_text h1:first-child
{
	font-family: 'Karla';
	position: center;
	font-size: 80px;
	font-weight: 700;
	color: #31124b;
	text-transform: uppercase;
	text-shadow: 1px 1px orange;
}
.home_background_text h1:nth-child(2)
{
	font-family: 'Beyond';
	font-size: 70px;
	color: #31124b;
	margin-top: -34px;
	text-shadow: 1px 1px orange;
}

/*********************************
5.1. Pack
*********************************/
.promo_box
{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
}
.promo_text
{
	font-family: 'Karla';
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
	color: #31124b;
	text-transform: none;
	text-shadow: 1px 1px orange;

}
.pack
{
	width: 100%;
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
	display: inline-block;
}
.pack_box
{
	position: absolute;
	bottom: 350px; 
	left: 300px;
	border: 2px solid purple;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.pack_box_2
{
	position: absolute;
	bottom: 350px; 
	left: 600px;
	border: 2px solid purple;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.pack_box_3
{
	position: absolute;
	bottom: 350px; 
	left: 900px;
	border: 2px solid purple;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.pack_box_items
{

}
.pack_box_background
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 268px;
}
.pack_date
{
	font-size: 15px;
	color: #FFFFFF;
	top: 1px;
	width: auto;
	padding-left: 15px;
	padding-right: 35px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 700;
	text-align: justify;
	text-shadow: 1px 2px black;
}
.pack_name h1
{
	font-size: 59px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	padding-top: 50px;
	text-shadow: 3px 2px black;
}
.pack_price
{
	font-size: 30px;
	font-weight: 900;
	color: #FFFFFF;
	margin-top: -4px;
	text-align: center;
	padding-top: 60px;
	text-shadow: 3px 2px black;
}
.pack_button
{

}
.pack_button_text
{
	color: #FFFFFF;
	padding-top: 70px;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 1px 1px black;
	text-decoration: underline;
}
.pack_button_text:hover
{
	color: orange;
	cursor: pointer;
}
/*********************************
5. Contact Form Section
*********************************/

.contact_form_section
{
	padding-top: 105px;
}
.contact_form_container
{
	padding-top: 74px;
	padding-left: 98px;
	padding-right: 98px;
	padding-bottom: 100px;
	background: linear-gradient(to top right, #fa9e1b, #8d4fff);
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	text-shadow: 1px 2px purple;
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	text-shadow: 1px 1px purple;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
	text-shadow: 1px 1px purple;
}
.form_submit_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background: #31124b;
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
/********************
6. Pied de Page
*********************/

.footer
{
	width: 100%;
	height: 200px;
	padding-bottom: 50px;
	background: linear-gradient(to left, #fa9e1b, #8d4fff);
}
.footer_column
{
	padding-top: 5%;
}
.footer_title
{
	left: 100px;
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	text-shadow: 1px 1px purple;
}
/*********************************
6.1 Pied de Page - Contact Info
*********************************/

.contact_info_list
{
	left: 50px;
	margin-top: 10px;
	text-align: right;
}
.contact_info_item
{
	left: 50px;
	margin-bottom: 10px;
}
.contact_info_text,
.contact_info_text a
{
	left: 50px;
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
	text-shadow: 1px 1px purple;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color: #fa9e1b;
}
/*********************************
6.2 Footer - About
*********************************/

.footer_about
{
	padding-top: 50px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -10px;
}
.footer_about_text
{
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	text-shadow: 1px 1px purple;
}
.search-container 
{
	left: 200px;
  	float: right;
  	border: 50%;
  	top: 50px;
}
.search-container button 
{
  	float: right;
  	padding: 1.5px 10px;
  	margin-right: 16px;
  	background: #FFFFFF;
  	border: 50%;
  	cursor: pointer;
}
.search-container button:hover 
{
  	background: #fa9e1b;
}

/*adaptation selon ecran */
@media screen and (max-width: 800px) 
{
.search-container 
{
    float: none;
}
.search-container button 
{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}

}